.contact {
  min-height: 70vh;
  background-color: #001F47;
  padding: 4em 10em;
  flex-wrap: wrap;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid grey;
}

input [type=text]:focus {
   background-color: lightblue;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid grey;
}

#icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid turquoise;
  min-height: 30vh;
  min-width: 40vw;
}

@media screen and (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;

  }

  .contact {
    min-height: 70vh;
    background-color: #001F47;
    padding: 2em 4em;
    flex-wrap: wrap;
  }

  #icons {
    padding-top: 3;
  }
}