/* "*" controls the bg & font color of pdf file */
* {
  box-sizing: border-box;
  background-color:white;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

#header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  background-color: #001F47;
}

#header-container h3 {
  color:turquoise
}

h1,
h3,
p,
header,
.namecard,
.contact-form,
.bio,
.bio-container,
.materialLink,
#icons {
  background-color: #001F47;
  color: #ffffff
}

.headshot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: auto;
  height: 100%;
  max-height: 30vh;
}

.namecard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: calc(14px + 2vw);
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(13px + 2vw);
  background-color: #001F47;
}

a:link {
  text-decoration: none;
  color: #884C93;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #884C93;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #ffffff
}


/********************BEGIN-MEDIA-QUERY***************/

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      font-size: 100%;
  }
}

@media screen and (min-width: 950px) {
  #header-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  .navbar {
      align-self: flex-end;
      flex-direction: column;
      order: -2;
      color: yellow;
      font-size: 100%
  }

}