* {
  box-sizing: border-box;
  background-color:#4C6893;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.headshot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: auto;
  height: 100%;
  max-height: 30vh;
}

.namecard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: calc(14px + 2vw);
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(13px + 2vw);
}

a:link {
  text-decoration: none;
  color: #0050cc;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #0050cc;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #ffffff
}


/********************BEGIN-MEDIA-QUERY***************/

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      font-size: 100%;
  }
}

@media screen and (min-width: 950px) {
  .header {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  .navbar {
      align-self: flex-end;
      flex-direction: column;
      order: -2;
      color: yellow;
      font-size: 100%
  }


  .header div {
      color:turquoise
  }
}